extends layout

block content
  h2 Profil
  p Mitt mål är att arbeta och utvecklas inom programmeringsområdet, där min erfarenhet och kunskap inom Apputveckling kan användas. Som person är jag uppgiftsorienterad och driven.
  hr
  strong Utbildning
  .row
    .col-3
      p.text-right
        | Linnéuniversitetet
        br
        | Distans
        br
        | 2017 - (2020)
    .col-5
      | Utveckling och drift av mjukvarusystem:
      p
        | Java, HTML, CSS, JavaScript, relationsdatabaser, dokumentdatabaser, UML, design patterns, versionshantering med git och github, Node.js, scrum, REST, JSON, XML, DevOps, Continuous Delivery, Continuous Integrations, Continuous Deployment
  .row.bg-light
    .col-3
      p.text-right
        | Lexicon
        br
        | Växjö
        br
        | 2015 - 2016
    .col-5
      p Systemutvecklare inom ASP.NET:
      ul
        li C#
        li SCRUM, AGIL, TDD
        li HTML, CSS, BootStrap, JavaScript & JQuery
        li MVC, .NET
        li SQL Relational databases, EF
        li Arbetsplatsförlagd del, genomfördes på Consid där jag skapade en plattformsoberoende mobil App som genererade ett nyhetsflöde genom att hämta data från en extern källa.
  .row
    .col-3
      p.text-right
        | Tekniska Högskolan
        br
        | Jönköping
        br
        | 2012 - 2014
    .col-5
        p Datanätteknik:
        ul
          li Grundläggande nätverksteknik
          li Matematiska verktyg
          li Operativsystem 1
          li Grundläggande routingteknik
          li Grundläggande vetenskapligt arbetssätt och projektarbete
          li Säkerhet och sårbarhet
          li Operativsystem 2
          li Switch- och WAN-teknik
          li Nätverkstjänster
          li Avancerad routingteknik
          li Arbetsplatsförlagt projekt 1 (Telia, Jönköping)
          li Service Level Management
          li Avancerad switchteknik
          li Arbetsplatsförlagt projekt 2 (Telia, Jönköping)
  hr
  strong Yrkeserfarenhet
  .row.bg-light
    .col-3
      p.text-right
        | Telia Sonera AB
        br
        | Jönköping
        br
        | 2014
    .col-5
        p
          em Nätdriftsingenjör
          | : Övervakande och driftade kunders uppkopplingar genom att göra en felsökning av nätverket och dess komponenter. Dessutom supportade jag interna tekniker och kunder via telefon eller epost.
  .row
    .col-3
      p.text-right
        | Falk Ambulans
        br
        | Jönköping
        br
        | 2013
    .col-5
        p
          | Utvecklade ett tidsschema som administrerade personal och ambulanser. Systemet var byggt i Excel med funktionalitet genom VBA.
  .row.bg-light
    .col-3
      p.text-right
        | Sapa Profiler AB
        br
        | Vetlanda
        br
        | 1999 - 2012
    .col-5
        p
          strong 2009-2012
          |  Som materialberedare i affärssystemet SAP R/3 upprättade jag och kvalitetssäkrade de artiklar som företaget säljer och tillverkar. Utvecklade och förbättrade Försäljningens förkalkyler, ett verktyg utvecklat i Excel med funktionalitet genom VBA. Jag var uthyrd som konsult till andra avdelningar inom Sapa, för att kompabilitetssäkerställa kunders datafiler mot våra system samt tvärtom. Jag var även delaktig i att utveckla samt underhålla Excelverktyg som är oumbärliga IT-stöd för verksamheten.
          br
          strong 2007-2008
          |  Arbetade inom Huvudplanering av ordrar nationellt och var dessutom ansvarig för planeringen av internationella ordrar. Initierade och utvecklade ett rapporteringssystem gentemot Verksamhetsutvecklingen. Systemet utvecklades i VBA.
          br
          strong 1999-2007
          |  Förberedde och säkerställde det existerade affärssystemet inför implementation av ett nytt affärssystem. När det nya systemet var implementerat skapade jag elektroniska operationslistor för att igen effektivisera och säkerställa produktionen.
  hr
  strong Övrigt
  .row
    .col-3
    .col-5
        p
          strong Språkkunskaper
          br
          | Svenska
        p
          strong Körkort
          br
          | AB
        p
          strong Mervärde
          br
          | Cisco CCNA och Cisco CCNP
          br
          | Mycket goda kunskaper i VBA.
        p
          | Militärtjänstgöring, på IB12 i Eksjö, som skyttesoldat och kompanimekaniker 1994-1995
        p
          | Bor i villa i Vetlanda med min katt. Ägnar en hel del av min fritid till att lära mig mera programmering och esport.