extends layout

block content
  h1 Edit Club
  form(method='POST', action='/clubs/edit/' + club._id)
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=club.name)
    #form-group
      label Misc:
      textarea.form-control(name='misc')= club.misc
    br
    input.btn.btn-primary(type='submit', value='Submit')