doctype html
html
  head
    meta(charset='utf-8')

    title Speedway Protokoll

    meta(name='description', content='Copyright © 2018 Pierre Johansson')
    meta(property='og:title', content='Speedway Protokoll')
    meta(property='og:type', content='Speedway Protokoll')
    meta(property='og:url', content='http://xilebo.se/')
    meta(property='og:image', content='https://i.imgur.com/VX1kLWq.png')
    meta(property='og:image:alt', content='An Speedway Protokoll')
    meta(property='og:image:type', content='image/png')
    meta(property='og:image:width', content='69')

    link(rel='icon', type='image/png', href='/favicon.png')
    link(rel='stylesheet' href='/css/reset.css')
    link(rel='stylesheet' href='/css/protocol.css')
  body
    block content
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/protocol.js')