@charset "UTF-8";

:root {
  --row-height: calc(99.5vh / 71); /* + 6 hidden rows, ?_home and ?_away */
  --cell-width: calc(99.9% / 78); /* + 3 hidden columns, BH */
  --red: #F9C;
  --blue: #9CF;
  --white: #FFF;
  --yellow: #FF0;
  --light-yellow: #FFC; /* background-color for the driver name and number cells */
  --white-smoke: #F8F8FF; /* background-color for the score cells */
  --orange: #FFC000; /* background-color for the score cells */
  --purple: #CCC0D9; /* background-color for the time cells */
  --spectator-gray: #DDD9C3; /* background-color for the spectator cell */
  --gray: #D8D8D8; /* background-color for the empty cells */
  --black: #000; /* background-color for the team name cells */
  --light-blue: #C6D9F0; /* background-color for the rest */
  background-color: var(--light-blue);
}

.txtDeco {
  text-decoration: underline overline double blue !important;
}

.z-1 {
  z-index: -1;
}

.z1 {
  z-index: 1;
}

.hide {
  display: none !important;
}

.containerFlex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.containerFlex * {
  position: relative;
  flex-grow: 1;
  text-align: center;
  font-size: 1.5vw;
  overflow: hidden;
  white-space: nowrap;
  z-index: 0;
}

.containerProtocol {
  display: flex;
  flex-direction: row;
}

.containerProtocol:last-of-type {/*:last-of-type:nth-last-child(1)*/
  font-size: 0.88vw;
  line-height: 0.88vw;
  height: calc(var(--row-height) * 1.5);
  background-color: var(--white-smoke);
  justify-content: center;
}

.containerProtocol  .row_height_1 {
  height: var(--row-height);
}

.containerProtocol  .row_height_2 {
  height: calc(var(--row-height) * 2 - 0.03vh);
}

.containerProtocol  .row_height_30 {
  height: calc(var(--row-height) * 30);
}

.containerProtocol  .cell_height_1 {
  height: var(--row-height) !important;
  line-height: var(--row-height) !important;
}

.containerProtocol  .cell_height_2 {
  height: calc(var(--row-height) * 2) !important;
  line-height: calc(var(--row-height) * 2) !important;
}

.containerProtocol div[class*='cell_'] {
  height: calc(var(--row-height) * 3);
  line-height: calc(var(--row-height) * 3);
}

.containerProtocol  .cell_height_4 {
  height: calc(var(--row-height) * 4) !important;
  line-height: calc(var(--row-height) * 4) !important;
}

.containerProtocol .cell_width_1 {
  flex-basis: var(--cell-width);
}

.containerProtocol .cell_width_2 {
  flex-basis: calc(var(--cell-width) * 2);
}

.containerProtocol .cell_width_3 {
  flex-basis: calc(var(--cell-width) * 3);
  background-color: var(--gray);
}

.containerProtocol .cell_width_4 {
  flex-basis: calc(var(--cell-width) * 4);
}

.containerProtocol .cell_width_8 {
  flex-basis: calc(var(--cell-width) * 8);
}

.containerProtocol .cell_width_9 {
  flex-basis: calc(var(--cell-width) * 9 + 0.02vw);
}

.containerProtocol .cell_width_19 {
  flex-basis: calc(var(--cell-width) * 19);
}

.containerProtocol .cell_width_20 {
  flex-basis: calc(var(--cell-width) * 20);
  text-align: left;
  text-indent: 0.5vw;
}

.containerProtocol .cell_width_51 {
  flex-basis: calc(var(--cell-width) * 51);
}

/*.containerFlex :nth-child(11) .cell_width_20,
.containerFlex :nth-child(12) .cell_width_20,
.containerFlex :nth-child(23) .cell_width_20,
.containerFlex :nth-child(24) .cell_width_20 {
  flex-basis: calc(var(--cell-width) * 20 - 0.01vw);
}*/

.containerFlex :nth-child(11) .cell_width_20::before,
.containerFlex :nth-child(23) .cell_width_20::before {
  content: "Lagl:\A0";
}

.containerFlex :nth-child(12) .cell_width_20::before,
.containerFlex :nth-child(24) .cell_width_20::before {
  content: "Assl:\A0";
}

.containerProtocol .rotate div {
  font-size: 0.9vw;
  transform: rotate(-90deg) translate(0, 0.8vw);
}

.containerFlex :nth-last-child(4) .rotate div {
  font-size: 1.3vw;
  transform: rotate(-90deg);
}

#spectator {
  background-color: var(--spectator-gray);
  border: solid 0.01vw black;
  font-weight: bold;
  font-size: 2vw;
  line-height: 2vw;
  text-indent: 3vw;
  letter-spacing: 0.5vw;
}

#spectator::before {
  position: absolute;
  top: 3%;
  left: 3%;
  content: "Publik:";
  font-weight: normal;
  font-size: 0.9vw;
  line-height: 0.9vw;
  text-indent: 0;
  letter-spacing: normal;
}

#track_record {
  text-align: right;
  font-size: 1vw;
  transform: translate(-2%, 20%);
}

#track_record::before {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 0.9vw;
  line-height: 0.5vw;
  content: "BR";
}

.containerProtocol div[class*='cell_'] {
  border-left: solid 0.01vw black;
  border-top: solid 0.01vw black;
}

.border_left {
  border-left: solid 0.01vw black;
  border-top-color: transparent !important;
}

.border_top {
  border-left-color: transparent !important;
  border-top: solid 0.01vw black;
}

.border_bottom {
  border-bottom: solid 0.01vw black;
}

.border_transparent {
  border-left-color: transparent !important;
  border-top-color: transparent !important;
}

.border_none {
  border-left-style: none !important;
  border-top-style: none !important;
}

.border_thick {
  border-left-width: 0.1vw !important;
}

.containerProtocol .color_r {
  background-color: var(--red);
}

.containerProtocol .color_b {
  background-color: var(--blue);
}

.containerProtocol .color_lb {
  background-color: var(--light-blue);
}

.containerProtocol .color_y {
  background-color: var(--yellow);
}

.containerProtocol .color_ly {
  background-color: var(--light-yellow);
}

.containerProtocol .color_w {
  background-color: var(--white);
}

.containerProtocol .color_ws {
  background-color: var(--white-smoke);
}

.containerProtocol .color_o {
  background-color: var(--orange);
}

.containerProtocol .color_p {
  background-color: var(--purple);
}

.containerProtocol .color_0 {
  background-color: var(--black);
  color: white;
  font-variant: small-caps;
}

.containerProtocol .color_transparent {
  background-color: transparent;
}

.containerProtocol .color_r::before,
.containerProtocol .color_b::before,
.containerProtocol .color_y::before,
.containerProtocol .color_w::before {
  position: absolute;
  bottom: 3%;
  right: 6%;
  font-size: 0.9vw;
  line-height: 0.9vw;
}

.containerProtocol div[class*='lane_']::after {
  position: absolute;
  top: 3%;
  right: 7%;
  font-size: 0.9vw;
  line-height: 0.9vw;
}

.containerProtocol .color_r::before {
  content: "R";
}

.containerProtocol .color_b::before {
  content: "B";
}

.containerProtocol .color_y::before {
  content: "G";
}

.containerProtocol .color_w::before {
  content: "V";
}

.containerProtocol .lane_1::after {
  content: "1";
}

.containerProtocol .lane_2::after {
  content: "2";
}

.containerProtocol .lane_3::after {
  content: "3";
}

.containerProtocol .lane_4::after {
  content: "4";
}

/* 3D Buttons from https://codepen.io/AMKohn/details/FkzaD */
.btn-container {
  user-select: none;
}

#btn-container-round,
#btn-container-spectator-back,
#btn-container-spectator,
#btn-container-misc,
#btn-container-lanes-colors,
#btn-container-score {
  position: absolute;
  z-index: 2;
  border-radius: 0.3vw;
	text-align: center;
}

#btn-container-round {
  right: 4vw;
  bottom: 4vh;
  width: 6vw;
  height: 13vh;
}

#btn-container-spectator-back {
  top: 30vh;
  left: 30vw;
  width: 40vw;
  height: 40vh;
  background-color: rgba(0,0,0,0.69);
}

#btn-container-spectator {
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: var(--white-smoke);
}

#btn-container-misc {
  top: 10vh;
  right: 2.5vw;
  width: 9vw;
  height: 60vh;
  background-color: rgba(0,0,0,0.69);
}

#btn-container-lanes-colors,
#btn-container-score {
  top: 3vh;
  left: 40vw;
  width: 36.1vw;
  height: 37.7vh;
  /* background-color: var(--white-smoke); */
}

/* 3D Styles */
#butt_round {
  position: absolute;
  z-index: 3;
  font-size: 2.5vh;
  width: 6vw;
	padding: 4.8vh 0;
	color: white;
	border-radius: 999vw;
	text-align: center;
	transition: all .08s linear;
	text-shadow: 0 0.13vw 0 rgba(0,0,0,0.15);
}

.btn-3d {
  position: absolute;
  z-index: 3;
  font-size: 2.5vh;
  width: 6vw;
	padding: 2vh 0;
	color: white;
	border-radius: 0.3vw;
	text-align: center;
	transition: all .08s linear;
	text-shadow: 0 0.13vw 0 rgba(0,0,0,0.15);
}

/* 3D button placement */
#butt_reverse_lanes {
  top: 2vh;
  left: 1.5vw;
}

#butt_h16 {
  top: 12vh;
  left: 1.5vw;
}

#butt_d8_home {
  top: 22vh;
  left: 1.5vw;
}

#butt_d8_away {
  top: 34vh;
  left: 1.5vw;
}

#butt_spectator {
  top: 46vh;
  left: 1.5vw;
}

#butt_round,
#butt_l1,
#butt_3 {
  top: 0vh;
  left: 0vw;
}

#butt_l2,
#butt_2 {
  top: 10vh;
  left: 0vw;
}

#butt_l3,
#butt_1 {
  top: 20vh;
  left: 0vw;
}

#butt_l4,
#butt_0 {
  top: 30vh;
  left: 0vw;
}

#butt_cr,
#butt_f {
  top: 0vh;
  left: 10vw;
}

#butt_cb,
#butt_tt {
  top: 10vh;
  left: 10vw;
}

#butt_cy,
#butt_n {
  top: 20vh;
  left: 10vw;
}

#butt_cw {
  top: 30vh;
  left: 10vw;
}

#butt_fx {
  top: 0vh;
  left: 20vw;
}

#butt_r {
  top: 10vh;
  left: 20vw;
}

#butt_x {
  top: 0vh;
  left: 30vw;
}

#butt_fn {
  top: 20vh;
  left: 20vw;
}

#butt_m {
  top: 10vh;
  left: 30vw;
}

#butt_rr {
  top: 20vh;
  left: 30vw;
}

/* 3D Button Active */
#butt_reverse_lanes.active {
  top: 3vh;
}

#butt_h16.active {
  top: 13vh;
}

#butt_d8_home.active {
  top: 23vh;
}

#butt_d8_away.active {
  top: 35vh;
}

#butt_spectator.active {
  top: 47vh;
}

#butt_round.active,
#butt_l1.active,
#butt_3.active {
  top: 1vh;
}

#butt_l2.active,
#butt_2.active {
  top: 11vh;
}

#butt_l3.active,
#butt_1.active {
  top: 21vh;
}

#butt_l4.active,
#butt_0.active {
  top: 31vh;
}

#butt_cr.active,
#butt_f.active {
  top: 1vh;
}

#butt_cb.active,
#butt_tt.active {
  top: 11vh;
}

#butt_cy.active,
#butt_n.active {
  top: 21vh;
}

#butt_cw.active {
  top: 31vh;
}

#butt_fx.active {
  top: 1vh;
}

#butt_r.active {
  top: 11vh;
}

#butt_x.active {
  top: 1vh;
}

#butt_fn.active {
  top: 21vh;
}

#butt_m.active {
  top: 11vh;
}

#butt_rr.active {
  top: 21vh;
}

/* 3D Button Colors */
#butt_round,
.btn-3d {
	background-color: rgba(130, 200, 160, 1);
	box-shadow: 0 0 0 0.085vh rgba(130, 200, 160, 1) inset,
		0 0 0 0.17vh rgba(255,255,255,0.15) inset,
		0 0.85vh 0 0 rgba(126, 194, 155, .7),
		0 0.85vh 0 0.085vh rgba(0,0,0,.4),
		0 0.85vh 0.85vh 0.085vh rgba(0,0,0,0.5);
}

.used {
	background-color: rgba(200, 200, 200, 1);
	box-shadow: 0 0 0 0.085vh rgba(200, 200, 200, 1) inset,
		0 0 0 0.17vh rgba(255,255,255,0.15) inset,
		0 0.85vh 0 0 rgba(192, 192, 192, .7),
		0 0.85vh 0 0.085vh rgba(0,0,0,.4),
		0 0.85vh 0.85vh 0.085vh rgba(0,0,0,0.5);
}

/* 3D Button Colors Active */
#butt_round.active,
.btn-3d.active {
  box-shadow: 0 0 0 0.085vh rgba(130, 200, 160, 1) inset,
		0 0 0 0.17vh rgba(255,255,255,0.15) inset,
		0 0 0 0.085vh rgba(0,0,0,0.4);
}

.used.active {
  box-shadow: 0 0 0 0.085vh rgba(200, 200, 200, 1) inset,
		0 0 0 0.17vh rgba(255,255,255,0.15) inset,
		0 0 0 0.085vh rgba(0,0,0,0.4);
}
