@charset "UTF-8";

html, body, div, header, nav, main, article, section, aside, footer, figure, figcaption {margin:0; padding:0;}
header, nav, main, article, section, aside, footer, figure, figcaption {display:block;} /* För webbläsare utan stöd för HTML5 */
html {-webkit-text-size-adjust:100%;} /* Så att Safari i iPhone inte skalar om texten */

:root {
  --row-height: 1.2922077922077922077922077922078vh;
  --cell-width: 1.2333333333333333333333333333333%;
  --red: #F9C;
  --blue: #9CF;
  --white: #FFF;
  --yellow: #FF0;
  --light-yellow: #FFC; /* background-color for the driver name and number cells */
  --white-smoke: #F8F8FF; /* background-color for the score cells */
  --orange: #FFC000; /* background-color for the score cells */
  --purple: #CCC0D9; /* background-color for the time cells */
  --spectator-gray: #DDD9C3; /* background-color for the spectator cell */
  --gray: #D8D8D8; /* background-color for the empty cells */
  --black: #000; /* background-color for the team name cells */
  --light-blue: #C6D9F0; /* background-color for the rest */
}

.containerFlex {
  display: flex;
  flex-direction: column;
  height: 99.5vh;
}

.containerFlex * {
  position: relative;
  flex-grow: 1;
}

.containerProtocol {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--light-blue);
}

.containerProtocol  .row_height_1 {
  height: var(--row-height);
}

.containerProtocol  .row_height_2 {
  height: calc(var(--row-height) * 2);
}

.containerProtocol div[class*='cell_'] {
  height: calc(var(--row-height) * 3);
}

.containerProtocol  .cell_height_4 {
  height: calc(var(--row-height) * 4) !important;
}

.containerProtocol .cell_width_1 {
  flex-basis: var(--cell-width);
}

.containerProtocol .cell_width_2 {
  flex-basis: calc(var(--cell-width) * 2);
}

.containerProtocol .cell_width_3 {
  flex-basis: calc(var(--cell-width) * 3);
  background-color: var(--gray); /* This line here to keep it a little DRY */
}

.containerProtocol .cell_width_8 {
  flex-basis: calc(var(--cell-width) * 8);
}

.containerProtocol .cell_width_9 {
  flex-basis: calc(var(--cell-width) * 9);
}

.containerProtocol .cell_width_10 {
  flex-basis: calc(var(--cell-width) * 10);
}

.containerProtocol .cell_width_19 {
  flex-basis: calc(var(--cell-width) * 19);
}

.containerProtocol .cell_width_20 {
  flex-basis: calc(var(--cell-width) * 20);
}

.containerProtocol .rotate {
  transform: rotate(-90deg);
}

.containerProtocol .spectator {
  background-color: var(--spectator-gray);
}

.containerProtocol .spectator::before {
  position: absolute;
  top: 3%;
  left: 3%;
  content: "Publik:";
}

.containerProtocol .cell {
  /*border: 0.001rem #CCC solid;*/
}

.containerProtocol .cell_team_name {
  text-align: left;
  padding-left: 1rem;
}

.containerProtocol .cell_driver_name,
.containerProtocol div[class*='cell_teamleader'] {
  text-align: left;
  padding-left: 1rem;
}

/*
.containerProtocol div[class*='cell_teamleader']::before {
  position: absolute;
  top: 50%;
  left: 2%;
}

.containerProtocol .cell_teamleader::before {
  content: "Lagl: ";
}

.containerProtocol .cell_teamleader_assistant::before {
  content: "Assl: ";
}
*/

.containerProtocol .color_r {
  background-color: var(--red);
}

.containerProtocol .color_b {
  background-color: var(--blue);
}

.containerProtocol .color_lb {
  background-color: var(--light-blue);
}

.containerProtocol .color_y {
  background-color: var(--yellow);
}

.containerProtocol .color_ly {
  background-color: var(--light-yellow);
}

.containerProtocol .color_w {
  background-color: var(--white);
}

.containerProtocol .color_ws {
  background-color: var(--white-smoke);
}

.containerProtocol .color_o {
  background-color: var(--orange);
}

.containerProtocol .color_p {
  background-color: var(--purple);
}

.containerProtocol .color_0 {
  background-color: var(--black);
}

.containerProtocol .color_r::before,
.containerProtocol .color_b::before,
.containerProtocol .color_y::before,
.containerProtocol .color_w::before {
  position: absolute;
  bottom: 3%;
  right: 6%;
}

.containerProtocol div[class*='lane_']::after {
  position: absolute;
  top: 3%;
  right: 6%;
}

.containerProtocol .color_r::before {
  content: "R";
}

.containerProtocol .color_b::before {
  content: "B";
}

.containerProtocol .color_y::before {
  content: "G";
}

.containerProtocol .color_w::before {
  content: "V";
}

.containerProtocol .lane_1::after {
  content: "1";
}

.containerProtocol .lane_2::after {
  content: "2";
}

.containerProtocol .lane_3::after {
  content: "3";
}

.containerProtocol .lane_4::after {
  content: "4";
}
