extends ../layout

block content
  h1 Lägg till förare
  form(method='POST', action='/drivers/add')
    #form-group
      br
      label Förnamn:
      input.form-control(name='firstname', type='text')
    #form-group
      br
      label Efternamn:
      input.form-control(name='lastname', type='text')
    #form-group
      br
      label Klubb:
      input.form-control(name='driversfor', type='text')
    .row
      .col-3
        #form-group
          br
          label Började:
          input.form-control(name='joined', type='date')
    .row
      .col-3
        #form-group
          br
          label Slutade:
          input.form-control(name='vacated', type='date')
    .form-check
      br
      input.form-check-input(name='teamcaptain', type='checkbox')
      label.form-check-label(for='teamcaptain') Lagkapten
    #form-group
      br
      label Övrigt:
      textarea.form-control(name='misc')
    br
    input.btn.btn-primary(type='submit', value='Submit')