extends ../layout

block content
  h1 Lägg till förare
  form(method='POST', action='/drivers/add')
    .form-group
      label Förnamn:
      input.form-control(name='firstname', type='text')
    .form-group
      label Efternamn:
      input.form-control(name='lastname', type='text')
    .form-group
      label Klubb:
      select.form-control(name='driversfor')
        option(selected) Välj...
        each club, i in clubs
          option(value=club._id)= club.name
    .row
      .col-3
        .form-group
          label Började:
          input.form-control(name='joined', type='date')
    .row
      .col-3
        .form-group
          label Slutade:
          input.form-control(name='vacated', type='date')
    .form-check
      input.form-check-input(name='teamcaptain', type='checkbox')
      label.form-check-label(for='teamcaptain') Lagkapten
    .form-group
      br
      label Övrigt:
      textarea.form-control(name='misc')
    br
    input.btn.btn-primary(type='submit', value='Submit')