extends ../layout-protocol

block content
  .containerFlex
    .containerProtocol
      .row_height_1
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_19.color_0#teamname_home Vetlanda Speedway
      .cell_width_3.color_ws Heat
      .cell_width_3.color_ws.border_thick#h1_home 1
      .cell_width_3.color_ws#h2_home 2
      .cell_width_3.color_ws#h3_home 3
      .cell_width_3.color_ws#h4_home 4
      .cell_width_3.color_ws.border_thick#h5_home 5
      .cell_width_3.color_ws#h6_home 6
      .cell_width_3.color_ws#h7_home 7
      .cell_width_3.color_ws.border_thick#h8_home 8
      .cell_width_3.color_ws#h9_home 9
      .cell_width_3.color_ws#h10_home 10
      .cell_width_3.color_ws.border_thick#h11_home 11
      .cell_width_3.color_ws#h12_home 12
      .cell_width_3.color_ws#h13_home 13
      .cell_width_3.color_ws.border_thick#h14_home 14
      .cell_width_3.color_ws#h15_home 15
      .cell_width_3.color_ws.hide#h16_home BH
      .cell_width_3.color_ws.border_thick#sum_home S:a
      .cell_width_3.color_ws#bonus_home B
      .cell_width_3.color_ws#heats_home H
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 1.
      .cell_width_20.color_ly#d1_home Bartosz Zmarzlik
      .cell_width_3.border_thick#d1h1_home.color_r.lane_3 3
      .cell_width_3#d1h2_home
      .cell_width_3#d1h3_home
      .cell_width_3#d1h4_home
      .cell_width_3.border_thick#d1h5_home
      .cell_width_3#d1h6_home
      .cell_width_3#d1h7_home.color_r.lane_2 1
      .cell_width_3.border_thick#d1h8_home
      .cell_width_3#d1h9_home
      .cell_width_3#d1h10_home.color_r.lane_4 2
      .cell_width_3.border_thick#d1h11_home
      .cell_width_3#d1h12_home
      .cell_width_3#d1h13_home.color_r.lane_1 3
      .cell_width_3.border_thick#d1h14_home
      .cell_width_3#d1h15_home
      .cell_width_3.hide#d1h16_home
      .cell_width_3.color_ws.border_thick#d1_sum_home
      .cell_width_3.color_ws#d1_bonus_home
      .cell_width_3.color_ws#d1_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 2.
      .cell_width_20.color_ly#d2_home Artem Laguta
      .cell_width_3.border_thick#d2h1_home.color_b.lane_1 2
      .cell_width_3#d2h2_home
      .cell_width_3#d2h3_home
      .cell_width_3#d2h4_home
      .cell_width_3.border_thick#d2h5_home.color_r.lane_3 2
      .cell_width_3#d2h6_home
      .cell_width_3#d2h7_home.color_b.lane_4 3
      .cell_width_3.border_thick#d2h8_home
      .cell_width_3#d2h9_home
      .cell_width_3#d2h10_home
      .cell_width_3.border_thick#d2h11_home
      .cell_width_3#d2h12_home.color_b.lane_2 0
      .cell_width_3#d2h13_home
      .cell_width_3.border_thick#d2h14_home
      .cell_width_3#d2h15_home
      .cell_width_3.hide#d2h16_home
      .cell_width_3.color_ws.border_thick#d2_sum_home
      .cell_width_3.color_ws#d2_bonus_home
      .cell_width_3.color_ws#d2_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 3.
      .cell_width_20.color_ly#d3_home Szymon Wozniak
      .cell_width_3.border_thick#d3h1_home
      .cell_width_3#d3h2_home
      .cell_width_3#d3h3_home.color_r.lane_1 F
      .cell_width_3#d3h4_home
      .cell_width_3.border_thick#d3h5_home
      .cell_width_3#d3h6_home.color_r.lane_2 1
      .cell_width_3#d3h7_home
      .cell_width_3.border_thick#d3h8_home.color_r.lane_3 2
      .cell_width_3#d3h9_home
      .cell_width_3#d3h10_home
      .cell_width_3.border_thick#d3h11_home
      .cell_width_3#d3h12_home.color_r.lane_4 1
      .cell_width_3#d3h13_home
      .cell_width_3.border_thick#d3h14_home
      .cell_width_3#d3h15_home
      .cell_width_3.hide#d3h16_home
      .cell_width_3.color_ws.border_thick#d3_sum_home
      .cell_width_3.color_ws#d3_bonus_home
      .cell_width_3.color_ws#d3_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 4.
      .cell_width_20.color_ly#d4_home Brady Kurtz
      .cell_width_3.border_thick#d4h1_home
      .cell_width_3#d4h2_home
      .cell_width_3#d4h3_home.color_b.lane_3 3
      .cell_width_3#d4h4_home
      .cell_width_3.border_thick#d4h5_home
      .cell_width_3#d4h6_home.color_b.lane_4 2
      .cell_width_3#d4h7_home
      .cell_width_3.border_thick#d4h8_home.color_b.lane_1 TT
      .cell_width_3#d4h9_home
      .cell_width_3#d4h10_home
      .cell_width_3.border_thick#d4h11_home.color_b.lane_2 2
      .cell_width_3#d4h12_home
      .cell_width_3#d4h13_home
      .cell_width_3.border_thick#d4h14_home
      .cell_width_3#d4h15_home
      .cell_width_3.hide#d4h16_home
      .cell_width_3.color_ws.border_thick#d4_sum_home
      .cell_width_3.color_ws#d4_bonus_home
      .cell_width_3.color_ws#d4_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 5.
      .cell_width_20.color_ly#d5_home Tobiasz Musielak
      .cell_width_3.border_thick#d5h1_home
      .cell_width_3#d5h2_home
      .cell_width_3#d5h3_home
      .cell_width_3#d5h4_home.color_b.lane_2 3
      .cell_width_3.border_thick#d5h5_home
      .cell_width_3#d5h6_home
      .cell_width_3#d5h7_home
      .cell_width_3.border_thick#d5h8_home
      .cell_width_3#d5h9_home.color_b.lane_1 3
      .cell_width_3#d5h10_home
      .cell_width_3.border_thick#d5h11_home.color_r.lane_4 F
      .cell_width_3#d5h12_home
      .cell_width_3#d5h13_home.color_b.lane_3 N
      .cell_width_3.border_thick#d5h14_home
      .cell_width_3#d5h15_home
      .cell_width_3.hide#d5h16_home
      .cell_width_3.color_ws.border_thick#d5_sum_home
      .cell_width_3.color_ws#d5_bonus_home
      .cell_width_3.color_ws#d5_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 6.
      .cell_width_20.color_ly#d6_home Thomas H Jonasson
      .cell_width_3.border_thick#d6h1_home
      .cell_width_3#d6h2_home.color_r.lane_2 2
      .cell_width_3#d6h3_home
      .cell_width_3#d6h4_home.color_r.lane_4 0
      .cell_width_3.border_thick#d6h5_home
      .cell_width_3#d6h6_home
      .cell_width_3#d6h7_home
      .cell_width_3.border_thick#d6h8_home
      .cell_width_3#d6h9_home.color_r.lane_3 1
      .cell_width_3#d6h10_home
      .cell_width_3.border_thick#d6h11_home
      .cell_width_3#d6h12_home
      .cell_width_3#d6h13_home
      .cell_width_3.border_thick#d6h14_home
      .cell_width_3.color_transparent#d6h15_home
      .cell_width_3.color_transparent.border_top.hide#d6h16_home
      .cell_width_3.color_ws.border_thick#d6_sum_home
      .cell_width_3.color_ws#d6_bonus_home
      .cell_width_3.color_ws#d6_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 7.
      .cell_width_20.color_ly#d7_home Jonas Davidsson
      .cell_width_3.border_thick#d7h1_home
      .cell_width_3#d7h2_home.color_b.lane_4 3
      .cell_width_3#d7h3_home
      .cell_width_3#d7h4_home
      .cell_width_3.border_thick#d7h5_home.color_b.lane_1 3
      .cell_width_3#d7h6_home
      .cell_width_3#d7h7_home
      .cell_width_3.border_thick#d7h8_home
      .cell_width_3#d7h9_home
      .cell_width_3#d7h10_home.color_b.lane_2 0
      .cell_width_3.border_thick#d7h11_home
      .cell_width_3#d7h12_home
      .cell_width_3#d7h13_home
      .cell_width_3.border_thick#d7h14_home
      .cell_width_3.color_transparent.border_left#d7h15_home
      .cell_width_3.color_transparent.border_transparent.hide#d7h16_home
      .cell_width_3.color_ws.border_thick#d7_sum_home
      .cell_width_3.color_ws#d7_bonus_home
      .cell_width_3.color_ws#d7_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol.hide
      .cell_width_1.border_none
      .cell_width_2.color_ly ?
      .cell_width_20.color_ly#d8_home
      .cell_width_3.border_thick#d8h1_home
      .cell_width_3#d8h2_home
      .cell_width_3#d8h3_home
      .cell_width_3#d8h4_home
      .cell_width_3.border_thick#d8h5_home
      .cell_width_3#d8h6_home
      .cell_width_3#d8h7_home
      .cell_width_3.border_thick#d8h8_home
      .cell_width_3#d8h9_home
      .cell_width_3#d8h10_home
      .cell_width_3.border_thick#d8h11_home
      .cell_width_3#d8h12_home
      .cell_width_3#d8h13_home
      .cell_width_3.border_thick#d8h14_home
      .cell_width_3#d8h15_home
      .cell_width_3.hide#d8h16_home
      .cell_width_3.color_ws.border_thick#d8_sum_home
      .cell_width_3.color_ws#d8_bonus_home
      .cell_width_3.color_ws#d8_heats_home
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly#teamleader_home Mikael Karlsson
      .cell_width_2.rotate
        div Sum
      .cell_width_3.color_o.border_thick#h1_sum_home
      .cell_width_3.color_o#h2_sum_home
      .cell_width_3.color_o#h3_sum_home
      .cell_width_3.color_o#h4_sum_home
      .cell_width_3.color_o.border_thick#h5_sum_home
      .cell_width_3.color_o#h6_sum_home
      .cell_width_3.color_o#h7_sum_home
      .cell_width_3.color_o.border_thick#h8_sum_home
      .cell_width_3.color_o#h9_sum_home
      .cell_width_3.color_o#h10_sum_home
      .cell_width_3.color_o.border_thick#h11_sum_home
      .cell_width_3.color_o#h12_sum_home
      .cell_width_3.color_o#h13_sum_home
      .cell_width_3.color_o.border_thick#h14_sum_home
      .cell_width_3.color_o#h15_sum_home
      .cell_width_3.color_o.hide#h16_sum_home
      .cell_width_3.color_transparent.border_thick#sum_sum_home
      .cell_width_3.color_transparent.border_top#sum_bonus_home
      .cell_width_3.color_transparent.border_top#sum_heats_home
      .cell_width_51.border_left.hide
      .cell_width_1.border_transparent
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly.border_bottom#assistant_home Mikael Wirebrand
      .cell_width_2.rotate.border_left
        div Tot
      .cell_width_3.color_o.border_bottom.border_thick#h1_tot_home
      .cell_width_3.color_o.border_bottom#h2_tot_home
      .cell_width_3.color_o.border_bottom#h3_tot_home
      .cell_width_3.color_o.border_bottom#h4_tot_home
      .cell_width_3.color_o.border_bottom.border_thick#h5_tot_home
      .cell_width_3.color_o.border_bottom#h6_tot_home
      .cell_width_3.color_o.border_bottom#h7_tot_home
      .cell_width_3.color_o.border_bottom.border_thick#h8_tot_home
      .cell_width_3.color_o.border_bottom#h9_tot_home
      .cell_width_3.color_o.border_bottom#h10_tot_home
      .cell_width_3.color_o.border_bottom.border_thick#h11_tot_home
      .cell_width_3.color_o.border_bottom#h12_tot_home
      .cell_width_3.color_o.border_bottom#h13_tot_home
      .cell_width_3.color_o.border_bottom.border_thick#h14_tot_home
      .cell_width_3.color_o.border_bottom#h15_tot_home
      .cell_width_3.color_o.border_bottom.hide#h16_tot_home
      .cell_width_3.color_transparent.border_left.border_thick#tot_sum_home
      .cell_width_3.color_transparent.border_transparent#tot_bonus_home
      .cell_width_3.color_transparent.border_transparent#tot_heats_home
      .cell_width_51.border_left.hide
      .cell_width_1.border_transparent
    .containerProtocol
      .row_height_2
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_19.color_0#teamname_away
      .cell_width_3.color_ws Heat
      .cell_width_3.color_ws.border_thick#h1_away 1
      .cell_width_3.color_ws#h2_away 2
      .cell_width_3.color_ws#h3_away 3
      .cell_width_3.color_ws#h4_away 4
      .cell_width_3.color_ws.border_thick#h5_away 5
      .cell_width_3.color_ws#h6_away 6
      .cell_width_3.color_ws#h7_away 7
      .cell_width_3.color_ws.border_thick#h8_away 8
      .cell_width_3.color_ws#h9_away 9
      .cell_width_3.color_ws#h10_away 10
      .cell_width_3.color_ws.border_thick#h11_away 11
      .cell_width_3.color_ws#h12_away 12
      .cell_width_3.color_ws#h13_away 13
      .cell_width_3.color_ws.border_thick#h14_away 14
      .cell_width_3.color_ws#h15_away 15
      .cell_width_3.color_ws.hide#h16_away BH
      .cell_width_3.color_ws.border_thick#sum_away S:a
      .cell_width_3.color_ws#bonus_away B
      .cell_width_3.color_ws#heats_away H
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 1.
      .cell_width_20.color_ly#d1_away
      .cell_width_3.border_thick#d1h1_away.color_w.lane_2
      .cell_width_3#d1h2_away
      .cell_width_3#d1h3_away
      .cell_width_3#d1h4_away
      .cell_width_3.border_thick#d1h5_away
      .cell_width_3#d1h6_away.color_w.lane_3
      .cell_width_3#d1h7_away
      .cell_width_3.border_thick#d1h8_away
      .cell_width_3#d1h9_away.color_w.lane_4
      .cell_width_3#d1h10_away
      .cell_width_3.border_thick#d1h11_away
      .cell_width_3#d1h12_away.color_w.lane_1
      .cell_width_3#d1h13_away
      .cell_width_3.border_thick#d1h14_away
      .cell_width_3#d1h15_away
      .cell_width_3.hide#d1h16_away
      .cell_width_3.color_ws.border_thick#d1_sum_away
      .cell_width_3.color_ws#d1_bonus_away
      .cell_width_3.color_ws#d1_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 2.
      .cell_width_20.color_ly#d2_away
      .cell_width_3.border_thick#d2h1_away.color_y.lane_4
      .cell_width_3#d2h2_away
      .cell_width_3#d2h3_away
      .cell_width_3#d2h4_away
      .cell_width_3.border_thick#d2h5_away
      .cell_width_3#d2h6_away.color_y.lane_1
      .cell_width_3#d2h7_away
      .cell_width_3.border_thick#d2h8_away
      .cell_width_3#d2h9_away.color_y.lane_2
      .cell_width_3#d2h10_away
      .cell_width_3.border_thick#d2h11_away.color_y.lane_3
      .cell_width_3#d2h12_away
      .cell_width_3#d2h13_away
      .cell_width_3.border_thick#d2h14_away
      .cell_width_3#d2h15_away
      .cell_width_3.hide#d2h16_away
      .cell_width_3.color_ws.border_thick#d2_sum_away
      .cell_width_3.color_ws#d2_bonus_away
      .cell_width_3.color_ws#d2_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 3.
      .cell_width_20.color_ly#d3_away
      .cell_width_3.border_thick#d3h1_away
      .cell_width_3#d3h2_away
      .cell_width_3#d3h3_away.color_w.lane_2
      .cell_width_3#d3h4_away
      .cell_width_3.border_thick#d3h5_away
      .cell_width_3#d3h6_away
      .cell_width_3#d3h7_away.color_w.lane_3
      .cell_width_3.border_thick#d3h8_away
      .cell_width_3#d3h9_away
      .cell_width_3#d3h10_away
      .cell_width_3.border_thick#d3h11_away.color_w.lane_1
      .cell_width_3#d3h12_away
      .cell_width_3#d3h13_away.color_w.lane_4
      .cell_width_3.border_thick#d3h14_away
      .cell_width_3#d3h15_away
      .cell_width_3.hide#d3h16_away
      .cell_width_3.color_ws.border_thick#d3_sum_away
      .cell_width_3.color_ws#d3_bonus_away
      .cell_width_3.color_ws#d3_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 4.
      .cell_width_20.color_ly#d4_away
      .cell_width_3.border_thick#d4h1_away
      .cell_width_3#d4h2_away
      .cell_width_3#d4h3_away.color_y.lane_4
      .cell_width_3#d4h4_away
      .cell_width_3.border_thick#d4h5_away.color_y.lane_2
      .cell_width_3#d4h6_away
      .cell_width_3#d4h7_away.color_y.lane_1
      .cell_width_3.border_thick#d4h8_away
      .cell_width_3#d4h9_away
      .cell_width_3#d4h10_away
      .cell_width_3.border_thick#d4h11_away
      .cell_width_3#d4h12_away.color_y.lane_3
      .cell_width_3#d4h13_away
      .cell_width_3.border_thick#d4h14_away
      .cell_width_3#d4h15_away
      .cell_width_3.hide#d4h16_away
      .cell_width_3.color_ws.border_thick#d4_sum_away
      .cell_width_3.color_ws#d4_bonus_away
      .cell_width_3.color_ws#d4_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 5.
      .cell_width_20.color_ly#d5_away
      .cell_width_3.border_thick#d5h1_away
      .cell_width_3#d5h2_away
      .cell_width_3#d5h3_away
      .cell_width_3#d5h4_away.color_w.lane_1
      .cell_width_3.border_thick#d5h5_away
      .cell_width_3#d5h6_away
      .cell_width_3#d5h7_away
      .cell_width_3.border_thick#d5h8_away.color_w.lane_4
      .cell_width_3#d5h9_away
      .cell_width_3#d5h10_away.color_y.lane_3
      .cell_width_3.border_thick#d5h11_away
      .cell_width_3#d5h12_away
      .cell_width_3#d5h13_away.color_y.lane_2
      .cell_width_3.border_thick#d5h14_away
      .cell_width_3#d5h15_away
      .cell_width_3.hide#d5h16_away
      .cell_width_3.color_ws.border_thick#d5_sum_away
      .cell_width_3.color_ws#d5_bonus_away
      .cell_width_3.color_ws#d5_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 6.
      .cell_width_20.color_ly#d6_away
      .cell_width_3.border_thick#d6h1_away
      .cell_width_3#d6h2_away.color_w.lane_3
      .cell_width_3#d6h3_away
      .cell_width_3#d6h4_away
      .cell_width_3.border_thick#d6h5_away.color_w.lane_4
      .cell_width_3#d6h6_away
      .cell_width_3#d6h7_away
      .cell_width_3.border_thick#d6h8_away
      .cell_width_3#d6h9_away
      .cell_width_3#d6h10_away.color_w.lane_1
      .cell_width_3.border_thick#d6h11_away
      .cell_width_3#d6h12_away
      .cell_width_3#d6h13_away
      .cell_width_3.border_thick#d6h14_away
      .cell_width_3.color_transparent#d6h15_away
      .cell_width_3.color_transparent.border_top.hide#d6h16_away
      .cell_width_3.color_ws.border_thick#d6_sum_away
      .cell_width_3.color_ws#d6_bonus_away
      .cell_width_3.color_ws#d6_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 7.
      .cell_width_20.color_ly#d7_away
      .cell_width_3.border_thick#d7h1_away
      .cell_width_3#d7h2_away.color_y.lane_1
      .cell_width_3#d7h3_away
      .cell_width_3#d7h4_away.color_y.lane_3
      .cell_width_3.border_thick#d7h5_away
      .cell_width_3#d7h6_away
      .cell_width_3#d7h7_away
      .cell_width_3.border_thick#d7h8_away.color_y.lane_2
      .cell_width_3#d7h9_away
      .cell_width_3#d7h10_away
      .cell_width_3.border_thick#d7h11_away
      .cell_width_3#d7h12_away
      .cell_width_3#d7h13_away
      .cell_width_3.border_thick#d7h14_away
      .cell_width_3.color_transparent.border_left#d7h15_away
      .cell_width_3.color_transparent.border_transparent.hide#d7h16_away
      .cell_width_3.color_ws.border_thick#d7_sum_away
      .cell_width_3.color_ws#d7_bonus_away
      .cell_width_3.color_ws#d7_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol.hide
      .cell_width_1.border_none
      .cell_width_2.color_ly ?
      .cell_width_20.color_ly#d8_away
      .cell_width_3.border_thick#d8h1_away
      .cell_width_3#d8h2_away
      .cell_width_3#d8h3_away
      .cell_width_3#d8h4_away
      .cell_width_3.border_thick#d8h5_away
      .cell_width_3#d8h6_away
      .cell_width_3#d8h7_away
      .cell_width_3.border_thick#d8h8_away
      .cell_width_3#d8h9_away
      .cell_width_3#d8h10_away
      .cell_width_3.border_thick#d8h11_away
      .cell_width_3#d8h12_away
      .cell_width_3#d8h13_away
      .cell_width_3.border_thick#d8h14_away
      .cell_width_3#d8h15_away
      .cell_width_3.hide#d8h16_away
      .cell_width_3.color_ws.border_thick#d8_sum_away
      .cell_width_3.color_ws#d8_bonus_away
      .cell_width_3.color_ws#d8_heats_away
      .cell_width_1.border_left
      .cell_width_51.border_none.hide
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly#teamleader_away
      .cell_width_2.rotate
        div Sum
      .cell_width_3.color_o.border_thick#h1_sum_away
      .cell_width_3.color_o#h2_sum_away
      .cell_width_3.color_o#h3_sum_away
      .cell_width_3.color_o#h4_sum_away
      .cell_width_3.color_o.border_thick#h5_sum_away
      .cell_width_3.color_o#h6_sum_away
      .cell_width_3.color_o#h7_sum_away
      .cell_width_3.color_o.border_thick#h8_sum_away
      .cell_width_3.color_o#h9_sum_away
      .cell_width_3.color_o#h10_sum_away
      .cell_width_3.color_o.border_thick#h11_sum_away
      .cell_width_3.color_o#h12_sum_away
      .cell_width_3.color_o#h13_sum_away
      .cell_width_3.color_o.border_thick#h14_sum_away
      .cell_width_3.color_o#h15_sum_away
      .cell_width_3.color_o.hide#h16_sum_away
      .cell_width_3.color_transparent.border_thick#sum_sum_away
      .cell_width_3.color_transparent.border_top#sum_bonus_away
      .cell_width_3.color_transparent.border_top#sum_heats_away
      .cell_width_51.border_left.hide
      .cell_width_1.border_transparent
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly.border_bottom#assistans_away
      .cell_width_2.rotate.border_left
        div Tot
      .cell_width_3.color_o.border_bottom.border_thick#h1_tot_away
      .cell_width_3.color_o.border_bottom#h2_tot_away
      .cell_width_3.color_o.border_bottom#h3_tot_away
      .cell_width_3.color_o.border_bottom#h4_tot_away
      .cell_width_3.color_o.border_bottom.border_thick#h5_tot_away
      .cell_width_3.color_o.border_bottom#h6_tot_away
      .cell_width_3.color_o.border_bottom#h7_tot_away
      .cell_width_3.color_o.border_bottom.border_thick#h8_tot_away
      .cell_width_3.color_o.border_bottom#h9_tot_away
      .cell_width_3.color_o.border_bottom#h10_tot_away
      .cell_width_3.color_o.border_bottom.border_thick#h11_tot_away
      .cell_width_3.color_o.border_bottom#h12_tot_away
      .cell_width_3.color_o.border_bottom#h13_tot_away
      .cell_width_3.color_o.border_bottom.border_thick#h14_tot_away
      .cell_width_3.color_o.border_bottom#h15_tot_away
      .cell_width_3.color_o.border_bottom.hide#h16_tot_away
      .cell_width_3.color_transparent.border_left.border_thick#tot_sum_away
      .cell_width_3.color_transparent.border_transparent#tot_bonus_away
      .cell_width_3.color_transparent.border_transparent#tot_heats_away
      .cell_width_51.border_left.hide
      .cell_width_1.border_transparent
    .containerProtocol
      .row_height_2
    .containerProtocol
      .cell_width_4.cell_height_4.color_transparent.border_none
      .cell_width_9.cell_height_4#spectator 3516
      .cell_width_8.cell_height_4.border_none#track_record 61,2
      .cell_width_2.cell_height_4.color_p.border_bottom.rotate
        div TID
      .cell_width_3.cell_height_4.color_p.border_bottom.border_thick#h1_time 62,5
      .cell_width_3.cell_height_4.color_p.border_bottom#h2_time 64,1
      .cell_width_3.cell_height_4.color_p.border_bottom#h3_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h4_time
      .cell_width_3.cell_height_4.color_p.border_bottom.border_thick#h5_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h6_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h7_time
      .cell_width_3.cell_height_4.color_p.border_bottom.border_thick#h8_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h9_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h10_time
      .cell_width_3.cell_height_4.color_p.border_bottom.border_thick#h11_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h12_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h13_time
      .cell_width_3.cell_height_4.color_p.border_bottom.border_thick#h14_time
      .cell_width_3.cell_height_4.color_p.border_bottom#h15_time
      .cell_width_3.cell_height_4.color_p.border_bottom.hide#h16_time
      .cell_width_3.cell_height_4.color_transparent.border_left.border_thick#time_sum
      .cell_width_3.cell_height_4.color_transparent.border_transparent#time_bonus
      .cell_width_3.cell_height_4.color_transparent.border_transparent#time_heats
      .cell_width_51.cell_height_4.border_left.hide
      .cell_width_1.cell_height_4.border_transparent
    .containerProtocol.hide
      .row_height_30
    .containerProtocol
      .row_height_1
    .containerProtocol Teckenförklaring till protokollet: N = kom ej till start, FN = fall, kom ej till start, F = fall, FX = fall, utesluten från omstart, X = utesluten, TT = touch tape, R = stopp, RR = riders replacement, M = utesluten pga 2 minuters regeln. | Banpreparering efter heat: 4 - 7 - 10 - 13.
  -//.round pop
  #butt.btn-3d.green.disabled Button
  -//img#arrow(src='/images/arrow.png', alt='arrow')