doctype html
html
  head
    link(rel='stylesheet', href='/css/protocol.css')
  body
    .containerProtocol
      .cell_filler_start
      .cell_team_name
      .cell_heat_no Heat
      .cell_heat_no 1
      .cell_heat_no 2
      .cell_heat_no 3
      .cell_heat_no 4
      .cell_heat_no 5
      .cell_heat_no 6
      .cell_heat_no 7
      .cell_heat_no 8
      .cell_heat_no 9
      .cell_heat_no 10
      .cell_heat_no 11
      .cell_heat_no 12
      .cell_heat_no 13
      .cell_heat_no 14
      .cell_heat_no 15
      .cell_heat_no BH
      .cell_heat_no S:a
      .cell_heat_no B
      .cell_heat_no H
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no 1.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell.color_b
      .cell.lane_4
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no 2.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no 3.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no 4.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no 5.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no 6.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no 7.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end
    .containerProtocol
      .cell_filler_start
      .cell_driver_no
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_filler_end