extends ../layout-protocol

block content
  .containerFlex
    .containerProtocol
      .row_height_1
    .containerProtocol
      .cell_width_1
      .cell_width_19.color_0 Vetlanda Speedway
      .cell_width_3.color_ws Heat
      .cell_width_3.color_ws 1
      .cell_width_3.color_ws 2
      .cell_width_3.color_ws 3
      .cell_width_3.color_ws 4
      .cell_width_3.color_ws 5
      .cell_width_3.color_ws 6
      .cell_width_3.color_ws 7
      .cell_width_3.color_ws 8
      .cell_width_3.color_ws 9
      .cell_width_3.color_ws 10
      .cell_width_3.color_ws 11
      .cell_width_3.color_ws 12
      .cell_width_3.color_ws 13
      .cell_width_3.color_ws 14
      .cell_width_3.color_ws 15
      .cell_width_3.color_ws BH
      .cell_width_3.color_ws S:a
      .cell_width_3.color_ws B
      .cell_width_3.color_ws H
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 1.
      .cell_width_20.color_ly Bartosz Zmarzlik
      .cell_width_3.color_r.lane_3 3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 2.
      .cell_width_20.color_ly
      .cell_width_3.color_b.lane_1 2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_3
      .cell_width_3
      .cell_width_3.color_b.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 3.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_2
      .cell_width_3
      .cell_width_3.color_r.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 4.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_4
      .cell_width_3
      .cell_width_3.color_b.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 5.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_1
      .cell_width_3
      .cell_width_3.color_r.lane_4
      .cell_width_3
      .cell_width_3.color_b.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 6.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3.color_r.lane_2
      .cell_width_3
      .cell_width_3.color_r.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_r.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_lb
      .cell_width_3.color_lb
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 7.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3.color_b.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_lb
      .cell_width_3.color_lb
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly ?
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_20.color_ly Lagl: 
      .cell_width_2 Sum
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_10
    .containerProtocol
      .cell_width_1
      .cell_width_20.color_ly Assl: 
      .cell_width_2 Tot
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_10
    .containerProtocol
      .row_height_2
    .containerProtocol
      .cell_width_1
      .cell_width_19.color_0
      .cell_width_3.color_ws Heat
      .cell_width_3.color_ws 1
      .cell_width_3.color_ws 2
      .cell_width_3.color_ws 3
      .cell_width_3.color_ws 4
      .cell_width_3.color_ws 5
      .cell_width_3.color_ws 6
      .cell_width_3.color_ws 7
      .cell_width_3.color_ws 8
      .cell_width_3.color_ws 9
      .cell_width_3.color_ws 10
      .cell_width_3.color_ws 11
      .cell_width_3.color_ws 12
      .cell_width_3.color_ws 13
      .cell_width_3.color_ws 14
      .cell_width_3.color_ws 15
      .cell_width_3.color_ws BH
      .cell_width_3.color_ws S:a
      .cell_width_3.color_ws B
      .cell_width_3.color_ws H
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 1.
      .cell_width_20.color_ly
      .cell_width_3.color_w.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 2.
      .cell_width_20.color_ly
      .cell_width_3.color_y.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_y.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_y.lane_2
      .cell_width_3
      .cell_width_3.color_y.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 3.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_1
      .cell_width_3
      .cell_width_3.color_w.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 4.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_y.lane_4
      .cell_width_3
      .cell_width_3.color_y.lane_2
      .cell_width_3
      .cell_width_3.color_y.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_y.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 5.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_4
      .cell_width_3
      .cell_width_3.color_y.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_y.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 6.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3.color_w.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_1
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_lb
      .cell_width_3.color_lb
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly 7.
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3.color_y.lane_1
      .cell_width_3
      .cell_width_3.color_y.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_y.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_lb
      .cell_width_3.color_lb
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_2.color_ly ?
      .cell_width_20.color_ly
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1
    .containerProtocol
      .cell_width_1
      .cell_width_20.color_ly Lagl: 
      .cell_width_2 Sum
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_10
    .containerProtocol
      .cell_width_1
      .cell_width_20.color_ly Assl: 
      .cell_width_2 Tot
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_10
    .containerProtocol
      .row_height_2
    .containerProtocol
      .cell_width_3.cell_height_4.color_lb
      .cell_width_9.cell_height_4.spectator
      .cell_width_8.cell_height_4.border_left BR
      .cell_width_3.cell_height_4.color_p TID
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_10.cell_height_4
    .containerProtocol
      .row_height_1
    .containerProtocol.fs1
      .row_height_1.color_ws Teckenförklaring till protokollet: N = kom ej till start, FN = fall, kom ej till start, F = fall, FX = fall, utesluten från omstart, X = utesluten, TT = touch tape, R = stopp, RR = riders replacement, M = utesluten pga 2 minuters regeln.   Banpreparering efter heat: 4 - 7 - 10 - 13