extends ../layout-protocol

block content
  .containerFlex
    .containerProtocol
      .row_height_1
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_19.color_0 Vetlanda Speedway
      .cell_width_3.color_ws Heat
      .cell_width_3.color_ws.border_thick 1
      .cell_width_3.color_ws 2
      .cell_width_3.color_ws 3
      .cell_width_3.color_ws 4
      .cell_width_3.color_ws.border_thick 5
      .cell_width_3.color_ws 6
      .cell_width_3.color_ws 7
      .cell_width_3.color_ws.border_thick 8
      .cell_width_3.color_ws 9
      .cell_width_3.color_ws 10
      .cell_width_3.color_ws.border_thick 11
      .cell_width_3.color_ws 12
      .cell_width_3.color_ws 13
      .cell_width_3.color_ws.border_thick 14
      .cell_width_3.color_ws 15
      .cell_width_3.color_ws BH
      .cell_width_3.color_ws.border_thick S:a
      .cell_width_3.color_ws B
      .cell_width_3.color_ws H
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 1.
      .cell_width_20.color_ly Bartosz Zmarzlik
      .cell_width_3.border_thick.color_r.lane_3 3
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_r.lane_2 1
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_r.lane_4 2
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_r.lane_1 3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick 9
      .cell_width_3.color_ws
      .cell_width_3.color_ws 4
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 2.
      .cell_width_20.color_ly Artem Laguta
      .cell_width_3.border_thick.color_b.lane_1 2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick.color_r.lane_3 2
      .cell_width_3
      .cell_width_3.color_b.lane_4 3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_b.lane_2 0
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick 7
      .cell_width_3.color_ws 1
      .cell_width_3.color_ws 4
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 3.
      .cell_width_20.color_ly Szymon Wozniak
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_r.lane_1 F
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_r.lane_2 1
      .cell_width_3
      .cell_width_3.border_thick.color_r.lane_3 2
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_r.lane_4 1
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick 4
      .cell_width_3.color_ws 1
      .cell_width_3.color_ws 4
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 4.
      .cell_width_20.color_ly Brady Kurtz
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_b.lane_3 3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_b.lane_4 2
      .cell_width_3
      .cell_width_3.border_thick.color_b.lane_1 TT
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick.color_b.lane_2 2
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick 7
      .cell_width_3.color_ws 
      .cell_width_3.color_ws 4
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 5.
      .cell_width_20.color_ly Tobiasz Musielak
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_b.lane_2 3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_b.lane_1 3
      .cell_width_3
      .cell_width_3.border_thick.color_r.lane_4 F
      .cell_width_3
      .cell_width_3.color_b.lane_3 N
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick 6
      .cell_width_3.color_ws
      .cell_width_3.color_ws 3
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 6.
      .cell_width_20.color_ly Thomas H Jonasson
      .cell_width_3.border_thick
      .cell_width_3.color_r.lane_2 2
      .cell_width_3
      .cell_width_3.color_r.lane_4 0
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_r.lane_3 1
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_transparent
      .cell_width_3.color_transparent.border_top
      .cell_width_3.color_ws.border_thick 3
      .cell_width_3.color_ws 1
      .cell_width_3.color_ws 3
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 7.
      .cell_width_20.color_ly Jonas Davidsson
      .cell_width_3.border_thick
      .cell_width_3.color_b.lane_4 3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick.color_b.lane_1 1
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_b.lane_2 0
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_transparent.border_left
      .cell_width_3.color_transparent.border_transparent
      .cell_width_3.color_ws.border_thick 4
      .cell_width_3.color_ws 1
      .cell_width_3.color_ws 3
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly ?
      .cell_width_20.color_ly
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly Mikael Karlsson
      .cell_width_2.rotate
        div Sum
      .cell_width_3.color_o.border_thick 5
      .cell_width_3.color_o 5
      .cell_width_3.color_o 3
      .cell_width_3.color_o 3
      .cell_width_3.color_o.border_thick 3
      .cell_width_3.color_o 3
      .cell_width_3.color_o 4
      .cell_width_3.color_o.border_thick 2
      .cell_width_3.color_o 4
      .cell_width_3.color_o 2
      .cell_width_3.color_o.border_thick 2
      .cell_width_3.color_o 1
      .cell_width_3.color_o 3
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_9.border_thick
      .cell_width_1.border_none
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly Mikael Wirebrand
      .cell_width_2.rotate.border_left
        div Tot
      .cell_width_3.color_o.border_thick 5
      .cell_width_3.color_o 10
      .cell_width_3.color_o 13
      .cell_width_3.color_o 16
      .cell_width_3.color_o.border_thick 19
      .cell_width_3.color_o 22
      .cell_width_3.color_o 26
      .cell_width_3.color_o.border_thick 28
      .cell_width_3.color_o 32
      .cell_width_3.color_o 34
      .cell_width_3.color_o.border_thick 36
      .cell_width_3.color_o 37
      .cell_width_3.color_o 40
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_10.border_left.border_thick
    .containerProtocol
      .cell_width_1.cell_height_2.border_none
      .cell_width_20.cell_height_2.border_top
      .cell_width_2.cell_height_2.border_none
      .cell_width_48.cell_height_2.border_top
      .cell_width_10.cell_height_2.border_none
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_19.color_0
      .cell_width_3.color_ws Heat
      .cell_width_3.color_ws.border_thick 1
      .cell_width_3.color_ws 2
      .cell_width_3.color_ws 3
      .cell_width_3.color_ws 4
      .cell_width_3.color_ws.border_thick 5
      .cell_width_3.color_ws 6
      .cell_width_3.color_ws 7
      .cell_width_3.color_ws.border_thick 8
      .cell_width_3.color_ws 9
      .cell_width_3.color_ws 10
      .cell_width_3.color_ws.border_thick 11
      .cell_width_3.color_ws 12
      .cell_width_3.color_ws 13
      .cell_width_3.color_ws.border_thick 14
      .cell_width_3.color_ws 15
      .cell_width_3.color_ws BH
      .cell_width_3.color_ws.border_thick S:a
      .cell_width_3.color_ws B
      .cell_width_3.color_ws H
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 1.
      .cell_width_20.color_ly
      .cell_width_3.border_thick.color_w.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_w.lane_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_w.lane_4
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_w.lane_1
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 2.
      .cell_width_20.color_ly
      .cell_width_3.border_thick.color_y.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_y.lane_1
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_y.lane_2
      .cell_width_3
      .cell_width_3.border_thick.color_y.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 3.
      .cell_width_20.color_ly
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_w.lane_2
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_w.lane_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick.color_w.lane_1
      .cell_width_3
      .cell_width_3.color_w.lane_4
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 4.
      .cell_width_20.color_ly
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_y.lane_4
      .cell_width_3
      .cell_width_3.border_thick.color_y.lane_2
      .cell_width_3
      .cell_width_3.color_y.lane_1
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_y.lane_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 5.
      .cell_width_20.color_ly
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_w.lane_1
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick.color_w.lane_4
      .cell_width_3
      .cell_width_3.color_y.lane_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_y.lane_2
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 6.
      .cell_width_20.color_ly
      .cell_width_3.border_thick
      .cell_width_3.color_w.lane_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick.color_w.lane_4
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3.color_w.lane_1
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_transparent
      .cell_width_3.color_transparent.border_top
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly 7.
      .cell_width_20.color_ly
      .cell_width_3.border_thick
      .cell_width_3.color_y.lane_1
      .cell_width_3
      .cell_width_3.color_y.lane_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick.color_y.lane_2
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3.color_transparent.border_left
      .cell_width_3.color_transparent.border_transparent
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_2.color_ly ?
      .cell_width_20.color_ly
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.border_thick
      .cell_width_3
      .cell_width_3
      .cell_width_3.color_ws.border_thick
      .cell_width_3.color_ws
      .cell_width_3.color_ws
      .cell_width_1.border_left
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly
      .cell_width_2.rotate
        div Sum
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_9.border_thick
      .cell_width_1.border_none
    .containerProtocol
      .cell_width_1.border_none
      .cell_width_20.color_ly
      .cell_width_2.rotate.border_left
        div Tot
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_3.color_o.border_thick
      .cell_width_3.color_o
      .cell_width_3.color_o
      .cell_width_10.border_left.border_thick
    .containerProtocol
      .cell_width_1.cell_height_2.border_none
      .cell_width_20.cell_height_2.border_top
      .cell_width_2.cell_height_2.border_none
      .cell_width_48.cell_height_2.border_top
      .cell_width_10.cell_height_2.border_none
    .containerProtocol
      .cell_width_4.cell_height_4.color_transparent.border_none
      .cell_width_9.cell_height_4#spectator 3516
      .cell_width_8.cell_height_4.border_none#track_record 61,2
      .cell_width_2.cell_height_4.color_p.rotate
        div TID
      .cell_width_3.cell_height_4.color_p.border_thick 62,5
      .cell_width_3.cell_height_4.color_p 64,1
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p.border_thick
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p.border_thick
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p.border_thick
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p.border_thick
      .cell_width_3.cell_height_4.color_p
      .cell_width_3.cell_height_4.color_p
      .cell_width_10.cell_height_4.border_left.border_thick
    .containerProtocol
      .cell_width_4.cell_height_1.border_none
      .cell_width_9.cell_height_1.border_top
      .cell_width_8.cell_height_1.border_none
      .cell_width_50.cell_height_1.border_top
      .cell_width_10.cell_height_1.border_none
    .containerProtocol Teckenförklaring till protokollet: N = kom ej till start, FN = fall, kom ej till start, F = fall, FX = fall, utesluten från omstart, X = utesluten, TT = touch tape, R = stopp, RR = riders replacement, M = utesluten pga 2 minuters regeln. | Banpreparering efter heat: 4 - 7 - 10 - 13