doctype html
html
  head
    link(rel='stylesheet' href='/css/protocol.css')
  body
    .containerPorotocol
      .cell_start
      .cell_no
        | 1.
      .cell_name
        | Name
      .cell
        | 1
      .cell
        | 2
      .cell
        | 3
      .cell
        | 4
      .cell
        | 5
      .cell
        | 6
      .cell
        | 7
      .cell
        | 8
      .cell
        | 9
      .cell
        | 10
      .cell
        | 11
      .cell
        | 12
      .cell
        | 13
      .cell
        | 14
      .cell
        | 15
      .cell
        | BH
      .cell
        | S:a
      .cell
        | B
      .cell
        | H
      .cell_end      