extends ../layout-protocol

block content
  .containerFlex
    .containerProtocol
      .empty_row_13
    .containerProtocol
      .empty_cell_13
      .cell_team_name
      .cell_heat_no Heat
      .cell_heat_no 1
      .cell_heat_no 2
      .cell_heat_no 3
      .cell_heat_no 4
      .cell_heat_no 5
      .cell_heat_no 6
      .cell_heat_no 7
      .cell_heat_no 8
      .cell_heat_no 9
      .cell_heat_no 10
      .cell_heat_no 11
      .cell_heat_no 12
      .cell_heat_no 13
      .cell_heat_no 14
      .cell_heat_no 15
      .cell_heat_no BH
      .cell_heat_no S:a
      .cell_heat_no B
      .cell_heat_no H
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 1.
      .cell_driver_name
      .cell.color_r.lane_3
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 2.
      .cell_driver_name
      .cell.color_b.lane_1
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 3.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 4.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 5.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 6.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .empty_cell
      .empty_cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 7.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .empty_cell
      .empty_cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no ?
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_teamleader Lagl: 
      .empty_cell_23 Sum
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .empty_cell_3
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_teamleader_assistant Assl: 
      .empty_cell_23 Tot
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .empty_cell_3
      .empty_cell_13
    .containerProtocol
      .empty_row_23
    .containerProtocol
      .empty_cell_13
      .cell_team_name
      .cell_heat_no Heat
      .cell_heat_no 1
      .cell_heat_no 2
      .cell_heat_no 3
      .cell_heat_no 4
      .cell_heat_no 5
      .cell_heat_no 6
      .cell_heat_no 7
      .cell_heat_no 8
      .cell_heat_no 9
      .cell_heat_no 10
      .cell_heat_no 11
      .cell_heat_no 12
      .cell_heat_no 13
      .cell_heat_no 14
      .cell_heat_no 15
      .cell_heat_no BH
      .cell_heat_no S:a
      .cell_heat_no B
      .cell_heat_no H
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 1.
      .cell_driver_name
      .cell.color_w.lane_2
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 2.
      .cell_driver_name
      .cell.color_y.lane_4
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 3.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 4.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 5.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 6.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .empty_cell
      .empty_cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no 7.
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .empty_cell
      .empty_cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_driver_no ?
      .cell_driver_name
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell_sa
      .cell_b
      .cell_h
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_teamleader Lagl: 
      .empty_cell_23 Sum
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .empty_cell_3
      .empty_cell_13
    .containerProtocol
      .empty_cell_13
      .cell_teamleader_assistant Assl: 
      .empty_cell_23 Tot
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .cell.color_o
      .empty_cell_3
      .empty_cell_13
    .containerProtocol
      .empty_row_23
    .containerProtocol
      .empty_cell
      .cell_spectator
      .empty_cell_2_23 BR
      .cell.color_p TID
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .cell.color_p
      .empty_cell_3
      .empty_cell_13
    .containerProtocol
      .empty_row_13
    .containerProtocol
      .empty_row_13 Teckenförklaring till protokollet: N = kom ej till start, FN = fall, kom ej till start, F = fall, FX = fall, utesluten från omstart, X = utesluten, TT = touch tape, R = stopp, RR = riders replacement, M = utesluten pga 2 minuters regeln.